<mat-list>
    <mat-list-item class="font-weight-bold"> Item Totals in Cart: </mat-list-item>
    <hr>
    <mat-list-item> Burger: {{ burgerCount$ | async }} </mat-list-item>
    <mat-list-item> Pizza: {{ pizzaCount$ | async }} </mat-list-item>
    <mat-list-item> Slap Chips: {{ slapChipsCount$ | async }} </mat-list-item>
    <mat-list-item> Sushi: {{ sushiCount$ | async }} </mat-list-item>
</mat-list>
