<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="cartTotal" matBadgeColor="warn" >shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="checkoutCart(true)">Checkout (Success)</button>
        <button mat-menu-item (click)="checkoutCart(false)">Checkout (Error)</button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" [opened]="true">
        <demo-drawer-menu></demo-drawer-menu>
    </mat-drawer>
    <mat-drawer-content>
        <mat-progress-bar mode="indeterminate"  *ngIf="loading$ | async"></mat-progress-bar>
        <demo-food-menu></demo-food-menu>
    </mat-drawer-content>
</mat-drawer-container>
