<mat-grid-list cols="2" rowHeight="2:1">
    <!--        BURGER-->
    <mat-grid-tile>
        <mat-card class="card d-flex justify-content-between">
            <mat-card-title>Burger</mat-card-title>
            <div class="burger"></div>
            <mat-card-footer class="p-2">
                <mat-form-field class="small-input">
                    <mat-label></mat-label>
                    <input required matInput type="number" value="1" #burgerCount>
                </mat-form-field>
                <button mat-mini-fab color="primary" class="ml-2" (click)="addBurger(burgerCount.value)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
<!--    PIZZA-->
    <mat-grid-tile>
        <mat-card class="card d-flex justify-content-between">
            <mat-card-title>Pizza</mat-card-title>
            <div class="pizza"></div>
            <mat-card-footer class="p-2">
                <button mat-mini-fab color="primary" (click)="addPizza()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card d-flex justify-content-between">
            <mat-card-title>Slap Chips</mat-card-title>
            <div class="slap-chips"></div>
            <mat-card-footer class="p-2">
                <button mat-mini-fab color="primary" (click)="addSlapChips()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card d-flex justify-content-between">
            <mat-card-title>Sushi</mat-card-title>
            <div class="sushi"></div>
            <mat-card-footer class="p-2">
                <button mat-mini-fab color="primary" (click)="addSushi()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
