
.card {
  margin: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.food-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 100.5%;
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sushi {
  background-image: url("/assets/images/sushi.jpg");
  @extend .food-image;
}

.pizza {
  background-image: url("/assets/images/pizza.jpg");
  @extend .food-image;
}

.slap-chips {
  background-image: url("/assets/images/slap_chips.jpg");
  @extend .food-image;
}

.burger {
  background-image: url("/assets/images/burger.jpg");
  @extend .food-image;
}

.small-input {
  width: 60px;
}
